<ion-view view-title="投注列表">
<ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="createBill()">下单</button>
</ion-nav-buttons>
<ion-content padding="true" class="text-center">
<h1>你已选择{{selectedMatches.length}}场比赛</h1>
<ion-list>
<ion-item ng-repeat="match in selectedMatches">
<h2>{{match.home}} <i>VS</i> {{match.away}} ({{match.handicap}})</h2>
<p>已购买{{match.selectedOptions.length}}项</p>
<p>{{match.selectedOptionsText}}</p>
</ion-item>
</ion-list>
</ion-content>
<ion-footer-bar class="bar bar-footer bar-calm row item item-input-inset">
<button class="button button-positive col col-50" ng-click="showComb()">{{selectedCombsText()||'选择串关方式'}}</button>
<label class="item-input col col-20" align="right">倍数: </label>
<button class="button button-positive col col-10" ng-click="minus()">-</button>
<input class="col col-10" type="number" min="1" step="1" ng-model="multiple" align="right">
<button class="button button-positive col" ng-click="plus()">+</button>
</ion-footer-bar>
</ion-view>
