<ion-view view-title="主菜单">
<ion-content padding="true" class="text-center">
<ion-list>
<ion-item class="button-bar">
    <a class="button button-positive" ng-show="!isSignedIn()" href="#/signin">登陆</a>
    <button class="button button-positive" ng-show="isSignedIn()" ng-click="signout()">注销</button>
    <button class="button button-positive" ng-click="go('accountDetail')">账户详情</button>
    <button class="button button-positive" ng-click="">高频彩</button>
</ion-item>
<ion-item class="button-bar">
    <button class="button button-positive" ng-click="go('football')">竞彩足球</button>
    <button class="button button-positive" ng-click="go('footballBills')">查看订单</button>
</ion-item>
<ion-item class="button-bar">
    <button class="button button-positive" ng-click="go('traditional',{type:14})">14场</button>
    <button class="button button-positive" ng-click="go('traditional',{type:9})">任选9</button>
    <button class="button button-positive" ng-click="go('traditionalBills')">查看订单</button>
</ion-item>
</ion-list>
</ion-content>
</ion-view>
