<ion-view view-title="主菜单">
<ion-content padding="true" class="text-center">
<div class="button-bar">
<a class="button button-positive" href="#/signin/prev">登陆</a>
    <button class="button button-positive" ng-click="accountDetail()">账户详情</button>
    <a class="button button-positive" href="#/footballBills/false">查看订单</a>
</div>
<div class="button-bar">
    <button class="button button-positive" ng-click="football()">足彩</button>
    <button class="button button-positive" ng-click="matches14()">14场</button>
    <button class="button button-positive" ng-click="">任选9</button>
    <button class="button button-positive" ng-click="">高频彩</button>
</div>
</ion-content>
</ion-view>
